In [2]:
import pandas as pd
df=pd.read_csv('heart.csv')
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
for col in df.columns:
    # Check if the column is of object data type (categorical)
    if df[col].dtype == 'object':
        # Apply label encoding to the column
        df[col] = lab.fit_transform(df[col])

X=df.drop('HeartDisease',axis=1)
y=df['HeartDisease']
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
df

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,140,289,0,1,172,0,0.0,2,0
1,49,0,160,180,0,1,156,0,1.0,1,1
2,37,1,130,283,0,2,98,0,0.0,2,0
3,48,0,138,214,0,1,108,1,1.5,1,1
4,54,1,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,1,132,0,1.2,1,1
914,68,1,144,193,1,1,141,0,3.4,1,1
915,57,1,130,131,0,1,115,1,1.2,1,1
916,57,0,130,236,0,0,174,0,0.0,1,1
917,38,1,138,175,0,1,173,0,0.0,2,0

In [2]:
import pickle

with open('Parameter.pickle','wb') as f:
    pickle.dump((X,y),f)